h2 {
  color: #362f2d;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight:600;
   font-size:20px;
    margin-top:50px;
}

input-group{
    border-radius: 0;
}

input[type="text"]{
    border:none;
    border-radius: 0
}
input[type="text"]:focus{
    box-shadow: none;
}

.input-group-btn > button, .input-group-btn > button:focus, .input-group-btn > button:active, .input-group-btn>.btn:active, .input-group-btn>.btn:focus{
    background-color: #998675;
    color:#FFF;
    border:none;
    outline:none;
    padding: 10px 12px;
}
.input-group-btn > button:hover{
    color: #998675;
    background-color:#FFF;
    border:none;
    transition: 0.3s;
}
